<p>
        <a href="<%= url_for(host: ENV['URL_FOR_HOST'],
                  controller: 'invites',
                  action: 'edit_info',
                  token: @invite.token) %>"><button>Modificar mi perfil</button></a>
      </p>