<%# <h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p> %>


<h2>Eventos</h2>

<table>
	<thead>
		<tr>
			<td>
				Evento
			</td>
			<td>
				Fecha de envio
			</td>
			<td>
				Fecha de creacion
			</td>
			<td>
				Acciones
			</td>
		</tr>
		
	</thead>
	<tbody>
		<tr>
			<td>
				Evento 1
			</td>
			<td>
				15/10/2016
			</td>
			<td>
				15/10/2016
			</td>
			<td>
				editar
			</td>
		</tr>
		<tr>
			<td>
				Evento 2 
			</td>
			<td>
				15/10/2016
			</td>
			<td>
				15/10/2016
			</td>
			<td>
				editar
			</td>
		</tr>
	</tbody>
</table>
