<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @invite.name %></h1>
    <p>
      Sample mail sent using Mailgun.
    </p>

    <button>YES</button>
    <button>NO</button>
    <button>REMIND ME IN 2 DAYS</button>

  </body>
</html>